<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Angus Brother.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
				<key>dateExpires</key>
				<string>2/12/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseSharedSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>10.22.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>9.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>7.13.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20220623.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>1.49.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>1.49.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>411AB0CA04737861C10DBFB97B8989B2D9404BC0</string>
						<key>dateExpires</key>
						<string>2/12/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7CQYFC4YJ9</string>
						<key>name</key>
						<string>Santiago Flynn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7CQYFC4YJ9.com.angusbrother.enduser</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7CQYFC4YJ9</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Angus Brother.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5d7df085-4ad8-447a-a0f6-4f639f3ff8c8</string>
				<key>dateExpires</key>
				<string>3/13/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.angusbrother.enduser</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7CQYFC4YJ9</string>
				<key>name</key>
				<string>Santiago Flynn</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
